<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p><img style="margin: 4px; float: left;" src="https://cortulua.co/static/zonas/4601313354.png" alt="106 10 19 Rector participa reunion Convocad Viceministro" width="250" height="119" /></p>
    <div >
  
    <div class="article-tools clearfix">
     <dl class="article-info">
     <dt class="article-info-term">Detalles</dt>
        <dd class="published">
        Publicado el <span>08 Octubre 2019</span>		</dd>
     </dl>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="text-align: center;"><strong>RECTOR UCEVA PARTICIPA EN REUNIÓN<br />CONVOCADA POR VICEMINISTRO DE EDUCACIÓN SUPERIOR</strong></p>
    <p style="text-align: justify; line-height: 115%;">Como sede en las instalaciones de la Universidad del Valle, con el rector de esta institución sirviendo de anfitrión, Edgar Varela Barrios y convocada por el Viceministro de Educación Luis Fernando Pérez, se cumplió este viernes 04 de octubre una sesión de trabajo en la que participó el señor rector Uceva, Jairo Gutiérrez Obando y siete rectores más de Instituciones Técnicas y Tecnológicas de la región.</p>
    <p style="text-align: justify; line-height: 115%;">El encuentro buscó establecer una estrategia para que las ITT cuenten con apoyo de la Universidad del Valle para la presentación de proyectos ante el Ministerio de Educación, para ejecutar recursos de distintas fuentes, incluidos los provenientes de los acuerdos logrados en 2018 entre las Instituciones de Educación Superior pública y la Presidencia de la República.</p>
    <p style="text-align: justify; line-height: 115%;">Otros aspectos importantes en los que las instituciones tecnológicas de educación superior lograron pactar una estrategia con Univalle son los de evitar la redundancia en la oferta académica buscando una mejor complementariedad entre la formación profesional y la formación técnica y tecnológica. “En Buga, Palmira, Buenaventura, Zarzal y el norte del Valle del Cauca existen esfuerzos en este sentido. Con los vicerrectores y directivos institucionales a la cabeza podemos coordinar la política educativa de nuestras Instituciones a lo largo y ancho del Valle del Cauca donde Univalle tiene presencia”, destacó el rector Varela de Univalle<a id="ftnref1" style="vertical-align: super;" name="_ftnref1" href="#ftn1">[1]</a>.</p>
    <p style="text-align: justify; line-height: 115%;">La Uceva seguirá fortaleciéndose del apoyo que ha venido brindado la Univalle en los procesos de calidad para el logro de la acreditación de programas académicos, compromiso que se reforzará luego de la sesión sostenida el pasado viernes.</p>
    <p style="text-align: justify; line-height: 115%;">El señor rector de la Uceva, Jairo Gutiérrez Obando destacó la convocatoria hecha por el Viceministro en su intención de fortalecer las ITT públicas de la región y del compromiso tan importante de una institución como la Universidad del Valle.</p>
    <p>&nbsp;</p>
    
    
    </div>
</ion-content>
