.tab-item{ 
    margin: 0; 
    line-height: 50px; 
    box-sizing: content-box; 
    font-size: 19px; 
    color:#FFFFFF; 
    font-family: 'Consolas'; 
    opacity: 1; 
    max-width: 400px; 
} 
.imagen{
  background-image:  url("../../assets/icon/fondo2.jpg");

}
#newsframe {
  //set the height to 100% of the viewport less the height of the header
  height: calc(100vh - 60px);

  //set the width to 100% of the viewport width
  width: 100vw; 

  //remove border, padding, margin
  border: none;
  padding: 0;
  margin: 0;
}
