ion-header{
  ion-toolbar{
    --ion-background-color:#00a859;
    color:white;
  }

}
.map{

	height: 100%;
}
.tab-item{ 
  margin: 0; 
  line-height: 50px; 
  box-sizing: content-box; 
  font-size: 25px; 
  color:#FFFFFF; 
  font-family: 'Consolas'; 
  opacity: 1; 
  max-width: 400px; 
} 