.map{

	height: 100%;
}
.tab-item{ 
    margin: 0; 
    line-height: 50px; 
    box-sizing: content-box; 
    font-size: 25px; 
    color:#FFFFFF; 
    font-family: 'Consolas'; 
    opacity: 1; 
    max-width: 400px; 
} 
.imagen{
  background-image:  url("../../assets/icon/fondo2.jpg");

}