<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
      <ion-title>Detalles</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="bg-image no-scroll">
            <ion-card>
              <ion-card-content >
                <p style="color:black;">
                  <br>
                  <b>Docente:</b> {{reserva.prof_nombre}}
                  <br>
                  <b>Inicio:</b> {{reserva.res_hora_ini}}
                  <br>
                  <b>Fin:</b> {{reserva.res_hora_fin}}
                  <br>
                  <b>Sala:</b> {{reserva.sal_nombre}}
                  <br>
                  <b>Creada:</b> {{reserva.timestampp}}
               </p>
              </ion-card-content>  
              </ion-card> 
      </ion-card>
  
  </ion-content>
  