.imgg{
  width: 95%;
  height: 35%;
}

.tab-item{ 
    margin: 0; 
    line-height: 50px; 
    box-sizing: content-box; 
    font-size: 19px; 
    color:#FFFFFF; 
    font-family: 'Consolas'; 
    opacity: 1; 
    max-width: 400px; 
} 
.imagen{
  background-image:  url("../../assets/icon/fondo2.jpg");
}

ion-content{
  div{
    ion-button{
      --background:#00a859;
    }
  }
}

ion-header{
  ion-toolbar{
    --ion-background-color:#00a859;
    color:white;
  }
  }


